@{
    ViewData["Title"] = "Admin Home Page";
}

<br />

<p><a asp-controller="Post" asp-action="PostList">View Posts</a></p>
<p><a asp-controller="Post" asp-action="CreatePost">Create a Post</a></p>

