@model LoginViewModel

<h2>Login</h2>
<p>Please login to access website features.</p>
<form method="post" asp-controller="Account" asp-action="Login">

    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <p><input type="submit" value="Login" /></p>
        <p><a asp-action="Register">Register</a></p>
    </div>
</form>
