@{
    ViewData["Title"] = "Home Page";
}

<br />
<p><a asp-controller="Account" asp-action="Register">Register</a></p>
<p><a asp-controller="Account" asp-action="Login">Login</a></p>

<p><a asp-controller="Post" asp-action="PostList">View Posts</a></p>
<p><a asp-controller="Post" asp-action="CreatePost">Create a Post</a></p>

