/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    background-image: url(../images/background.jpg);
}

div {
    background-color: ghostwhite;
    color: darkblue;
    text-align: justify;
    word-wrap: break-word;
}

dt {
    word-wrap: break-word;
}

dd {
    word-wrap: break-word;
}

a {
    color: Highlight;
}

.navbar-inverse {
    color: black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: darkblue;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
